// breakpoints min width
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// fonts
$font-stack: Helvetica, sans-serif;

// colors
// $base-color: black;
// $primary-color: red;
// $secondary-color: orangered;
// $accent-color: orange;
